/* Created by Mihail Markovski */
section{
    position: relative;
    width: "100%";
    height: "100vh";
    padding: 500px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    object-fit: cover;
    pointer-events: none;
}


section img#imageback
{
    position: absolute;
    z-index: 1;
    mix-blend-mode: screen;
}

section img#transparent
{
    

    z-index: 10;
    
    
}

#title{
    position: absolute;
    z-index: 5;
    color: #fff;
    font-size: 7.5vw;
    white-space: nowrap;
    top: 10px;
    
}

#button{
    position: absolute;
    text-decoration: none;
    display: flex;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: red;
    font-size: 1.5em;
    z-index: 5;
    margin: auto;
    top: 280px;
    right: 50%;
}