/* Created by Lukas Stojanovski */

body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Zen Dots', cursive;
}

.nav{
    color: white;
}

ul{
    display: flex;
    margin: 0px;
    /* margin-right: 100px; */
    justify-content: center;
    
}
li:first-child{
    position: absolute;
    left: 100px;
}

li{
    display: flex;
}


li:hover {
    background-color: black;
    color: white;
}

.nav-bar{
    height: auto;
    width: 100%;
    margin: 0px;
    padding: 10px;
    background-color: red;
}

.nav-buttons{
    text-decoration: none;
    color: white;
    padding: 20px;
<<<<<<< HEAD
}
=======
}

>>>>>>> 4d8db3f6e1441845f971bbb86502a2ff65d6ed11
