/* Created by Lukas Stojanovski */

body{
    margin: 0px auto;
    padding: 0px;
    font-family: 'Zen Dots', cursive;
}

.nav{
<<<<<<< HEAD
=======
    color: white;
}

ul{
>>>>>>> 63b8d430f05767b82b53d4d9958db60f0aa064d9
    display: flex;
    margin: 0px;
    justify-content: center;
    
}
li:first-child{
    position: absolute;
    left: 100px;
}

li{
    display: flex;
    
}


li:hover {
    background-color: black;
    color: white;
}

.nav-bar{
    height: auto;
    width: 100%;
    margin: 0px;
<<<<<<< HEAD
=======
    padding: 10px;
>>>>>>> 63b8d430f05767b82b53d4d9958db60f0aa064d9
    background-color: red;
}

.nav-buttons{
    text-decoration: none;
    color: white;
    padding: 20px;
}