/* Created by Mihail Markovski */
/*Title paralax effect*/
html {
  scroll-behavior: smooth;
}
section{
    position: relative;
    width: "100%";
    height: "100vh";
    padding: 500px;
    display: flex;
    justify-items: center;
    align-items: center;
    overflow: hidden;
}

section img{
    position: absolute;
    top: 0;
    left: 0;
    width: "100%";
    height: "100%";
    object-fit: cover;
    pointer-events: none;
}

section img#imageback
{
    position: absolute;
    z-index: 1;
}

section img#transparent
{
    

    z-index: 10;
    
    
}

#title{
    position: absolute;
    z-index: 5;
    color: #fff;
    font-size: 7.5vw;
    white-space: nowrap;
    top: 20%;
    
}

#button{
    position: absolute;
    text-decoration: none;
    display: flex;
    padding: 8px 30px;
    border-radius: 40px;
    background: #fff;
    color: red;
    font-size: 1.5em;
    z-index: 5;
    margin: auto;
    top: 32%;
    left: 50%;
    white-space: nowrap;

}

body{
    background-color: white;
}

a:link    
{ color: inherit; text-decoration: underline; }
a:visited 
{ color: inherit; text-decoration: underline; }
a:hover   
{ color: inherit; text-decoration: underline; }
a:active  
{ color: inherit; text-decoration: underline; }

.world-news,
.popular-news {
  padding: 37px 0;
}

.font-weight-600 {
  font-weight: 600;
}

.section-title {
  font-size: 40px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.14;
  letter-spacing: normal;
  color: #000000;
  margin-bottom: 22px;
  margin-top: 22px;
  margin-left: 190%;
  white-space: nowrap;
  
}

.thumb-title {
  padding: 14px 24px;
  background: #000;
  font-size: 12px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.video-thumb {
  position: absolute;
  left: 24px;
  bottom: 24px;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
}

.video-thumb span {
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 100%;
  border: 1px solid #dbdbdb;
  font-size: 14px;
  margin-right: 6px;
}

.contact-wrap {
  width: 920px;
  margin: 0 auto;
}

@media (max-width: 999px) {
  .contact-wrap {
    width: 100%;
  }
}

.image-hover {
  overflow: hidden;
}

.image-hover img,
.image-hover .thumb-title {
  transition: transform 0.4s;
  /* Animation */
}

.image-hover:hover img {
  transform: scale(1.25);
}

.image-hover:hover .thumb-title {
  background: red;
}

.news-post-wrapper {
  width: 915px;
  margin: 0 auto;
  margin-top: 50px;
}

@media (max-width: 999px) {
  .news-post-wrapper {
    width: 100%;
  }
}

.news-post-wrapper h1 {
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  margin-bottom: 22px;
}

.news-post-wrapper .news-post-wrapper-sm {
  padding: 0 100px;
}

@media (max-width: 999px) {
  .news-post-wrapper .news-post-wrapper-sm {
    padding: 0 0;
  }
}

.news-post-wrapper .border-radius-6 {
  border-radius: 6px;
}

.contact-wrap .form-group {
  margin-bottom: 1.5rem;
}

.contact-wrap .form-group .form-control {
  border: none;
  border-bottom: 1px solid #dbdbdb;
  padding: 1rem;
  padding-left: 0;
  height: 60px;
}

.contact-wrap .form-group .form-control:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

.contact-wrap .form-group .form-control.textarea {
  height: 150px;
}

.contact-wrap .contact-right-padding {
  padding-left: 100px;
}

@media (max-width: 767px) {
  .contact-wrap .contact-right-padding {
    padding-left: 0px;
  }
}